body{
    background-color: #efefef;
}


.main{
    background-color: whitesmoke;
    margin: 25px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
    width: 40px;
    height: 40px;
}

.media-body{
    padding-top: 11px;
}

.profile .section{
    margin-top: 15px;
}

.blog-menu {
    color: #999;
    font-size: 13px;
}

.jumbotron{
    margin: 45px;
}

.comment{
    margin: 10px;
}

.comment-button{
    float: right;
    margin-bottom: 10px;
}

.icon_menu{
    color: #2aabd2;
    margin-top: 6px;
}

.icon_menu.icon{
    color: #761c19;
    font-size: 12px;
}

.comments{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid;
}

.second_level_comment{
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid;
    padding-top: 10px;
}


